.vertical {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.editable {
	cursor: pointer;
}

.disabled {
	display: none;
}
