.container {
	padding-top: 0.5rem;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1rem;
	margin: 0.5rem 0;
	cursor: wait;
}

.center {
	justify-content: center;
}

.text {
	font-weight: bold;
}

.spinner {
	--spinner-size: 1.5rem;
	--border-size: 4px;
	
	display: inline-block;
	width: var(--spinner-size);
	height: var(--spinner-size);
}

.spinner:after {
	content: " ";
	display: block;
	width: calc(var(--spinner-size) - var(--border-size) * 2);
	height: calc(var(--spinner-size) - var(--border-size) * 2);
	margin: 0;
	border-radius: 50%;
	border: var(--border-size) solid var(--clr-text);
	border-color: var(--clr-text) transparent var(--clr-text) transparent;
	animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
