.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 200;
	width: 50vw;
	max-height: 80vh;
	overflow: auto;
	background: var(--clr-background);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border: 2px solid var(--clr-text);
	border-radius: 0.3rem;
	margin: 0;
	padding: 0.5rem;
}

.button-ok {
	min-width: 4rem;
}

.button-cancel {
	min-width: 5rem;
}

@media (orientation: portrait), (max-width: 790px) {
	.popup {
		width: 80vw !important;
	}
}

.wait-promise {
	padding: 3rem 1.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	cursor: wait;
}

.wait-promise-text {
	margin-left: 1rem;
}