.viewer {
	&.editable {
		cursor: pointer;
	}
}

.editor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.2rem;

	.inputField {
		min-width: 4rem;
	}

	.buttonOk {
		min-width: 3rem;
	}
}
