.spinner {
	--spinner-size: 40vmin;
	--border-size: 3vmin;
	
	width: var(--spinner-size);
	height: var(--spinner-size);
	
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 150;

	cursor: wait;
}

.spinner:after {
	content: " ";
	display: block;
	width: calc(var(--spinner-size) - var(--border-size) * 2);
	height: calc(var(--spinner-size) - var(--border-size) * 2);
	margin: 0;
	border-radius: 50%;
	border: var(--border-size) solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
